PORT=3000
NODE_ENV=development

# CockroachDB Serverless
DATABASE_URL=postgresql://usuario:password@host.cockroachlabs.cloud:26257/defaultdb?sslmode=verify-full

# Email (Gmail con App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_email@gmail.com
SMTP_PASS=tu_app_password
SMTP_FROM=libro.reclamaciones@codeplex.pe
EMAIL_SOPORTE=soporte@codeplex.pe

FRONTEND_URL=https://codeplex.pe
