PORT=3000
NODE_ENV=development

# PostgreSQL LOCAL
DATABASE_URL="postgresql://postgres:sql@localhost:5432/libro_reclamaciones"# Email (Gmail con App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_email@gmail.com
SMTP_PASS=sql
SMTP_FROM=libro.reclamaciones@codeplex.pe
EMAIL_SOPORTE=soporte@codeplex.pe

FRONTEND_URL=http://localhost:4321